<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossAngry_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,304},{92,96}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{92,96}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{94,98}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,98}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,100}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,104},{96,98}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{96,98}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,406},{90,98}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{92,98}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,406},{90,98}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{90,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{94,98}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{86,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{86,100}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,202},{90,96}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,102},{92,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,204},{92,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
            <key>BossAngry_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,306},{92,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{92,98}}</string>
                <key>sourceSize</key>
                <string>{112,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossAngry.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e5a96befedf65f1507ff1621d9d443$</string>
            <key>textureFileName</key>
            <string>BossAngry.png</string>
        </dict>
    </dict>
</plist>
