<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgStarLv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{78,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,84},{78,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv13.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,266},{76,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,368},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv15.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,164},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,84},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,84},{78,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv18.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,368},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv23.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,390},{78,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv24.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,288},{78,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv26.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,266},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,308},{72,96}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,96}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,236},{70,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,164},{70,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,368},{74,98}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,98}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,186},{78,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{78,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>ImgStarLv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelAnim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0041d071c35e4dfaa44913f3ec5263d$</string>
            <key>textureFileName</key>
            <string>levelAnim.png</string>
        </dict>
    </dict>
</plist>
