<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainPl3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{338,268}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{338,268}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{350,268}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{338,266}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{338,266}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{274,268}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{274,268}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{216,270}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{216,270}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{212,268}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,1},{212,268}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1780},{260,266}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{260,266}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
            <key>MainPl3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{302,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{302,266}}</string>
                <key>sourceSize</key>
                <string>{350,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainPl3.png</string>
            <key>size</key>
            <string>{354,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9a243a50401f373530699083513f21a:19f04ec0f977a6cd1aca0d43ce668ece:d2f3d59837586c48b309e28232f84473$</string>
            <key>textureFileName</key>
            <string>MainPl3.png</string>
        </dict>
    </dict>
</plist>
