<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueWp.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>64</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>drop_item_shield.png</key>
            <dict>
                <key>height</key>
                <integer>65</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>65</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>drop_item_skill.png</key>
            <dict>
                <key>height</key>
                <integer>63</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>63</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>69</integer>
            </dict>
            <key>drop_item_super.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>64</integer>
                <key>y</key>
                <integer>64</integer>
            </dict>
            <key>gold_1_1.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>188</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_1_2.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>278</integer>
                <key>y</key>
                <integer>92</integer>
            </dict>
            <key>gold_1_3.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>12</integer>
                <key>x</key>
                <integer>452</integer>
                <key>y</key>
                <integer>92</integer>
            </dict>
            <key>gold_1_4.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>188</integer>
                <key>y</key>
                <integer>48</integer>
            </dict>
            <key>gold_1_5.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>34</integer>
                <key>x</key>
                <integer>454</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_1_6.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>18</integer>
                <key>x</key>
                <integer>432</integer>
                <key>y</key>
                <integer>92</integer>
            </dict>
            <key>gold_1_7.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>414</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_1_8.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>234</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_2_1.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>326</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_2_2.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>40</integer>
                <key>x</key>
                <integer>318</integer>
                <key>y</key>
                <integer>90</integer>
            </dict>
            <key>gold_2_3.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>38</integer>
                <key>x</key>
                <integer>360</integer>
                <key>y</key>
                <integer>90</integer>
            </dict>
            <key>gold_2_4.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>30</integer>
                <key>x</key>
                <integer>400</integer>
                <key>y</key>
                <integer>92</integer>
            </dict>
            <key>gold_2_5.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>24</integer>
                <key>x</key>
                <integer>466</integer>
                <key>y</key>
                <integer>92</integer>
            </dict>
            <key>gold_2_6.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>28</integer>
                <key>x</key>
                <integer>452</integer>
                <key>y</key>
                <integer>48</integer>
            </dict>
            <key>gold_2_7.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>36</integer>
                <key>x</key>
                <integer>414</integer>
                <key>y</key>
                <integer>48</integer>
            </dict>
            <key>gold_2_8.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>326</integer>
                <key>y</key>
                <integer>46</integer>
            </dict>
            <key>gold_3_1.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>370</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_3_2.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>188</integer>
                <key>y</key>
                <integer>94</integer>
            </dict>
            <key>gold_3_3.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>234</integer>
                <key>y</key>
                <integer>48</integer>
            </dict>
            <key>gold_3_4.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>280</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>gold_3_5.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>280</integer>
                <key>y</key>
                <integer>46</integer>
            </dict>
            <key>gold_3_6.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>370</integer>
                <key>y</key>
                <integer>46</integer>
            </dict>
            <key>gold_3_7.png</key>
            <dict>
                <key>height</key>
                <integer>42</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>44</integer>
                <key>x</key>
                <integer>280</integer>
                <key>y</key>
                <integer>46</integer>
            </dict>
            <key>gold_3_8.png</key>
            <dict>
                <key>height</key>
                <integer>44</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>46</integer>
                <key>originalWidth</key>
                <integer>46</integer>
                <key>width</key>
                <integer>42</integer>
                <key>x</key>
                <integer>234</integer>
                <key>y</key>
                <integer>92</integer>
            </dict>
            <key>redWp.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>126</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>yellowWp.png</key>
            <dict>
                <key>height</key>
                <integer>60</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>60</integer>
                <key>originalWidth</key>
                <integer>60</integer>
                <key>width</key>
                <integer>60</integer>
                <key>x</key>
                <integer>126</integer>
                <key>y</key>
                <integer>64</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>DropResList.png</string>
            <key>size</key>
            <string>{493,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a66d8378d5cc3ba53651545940d333c4:7a113a72baa13ba52794f4d6c8c128b9:fea0d51ad3b193fd79108d463eebe7d6$</string>
            <key>textureFileName</key>
            <string>DropResList.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>138</integer>
            <key>width</key>
            <integer>493</integer>
        </dict>
    </dict>
</plist>
