<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_protect_1.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>ani_protect_10.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>ani_protect_11.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>204</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>ani_protect_12.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>204</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>ani_protect_2.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>406</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>ani_protect_3.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>406</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>ani_protect_4.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>608</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>ani_protect_5.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>608</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>ani_protect_6.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>810</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>ani_protect_7.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>1012</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>ani_protect_8.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>810</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>ani_protect_9.png</key>
            <dict>
                <key>height</key>
                <integer>186</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>186</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>1012</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>PlaneProtect.png</string>
            <key>size</key>
            <string>{1214,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63fe2fb217d9a9dc9e27c66ede550d8e:b89a815331cb33b61fed670f933b266a:cb85fa0ac6eb44d65476790b07d7337a$</string>
            <key>textureFileName</key>
            <string>PlaneProtect.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>378</integer>
            <key>width</key>
            <integer>1214</integer>
        </dict>
    </dict>
</plist>
