<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightingEff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{116,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,142}}</string>
                <key>sourceSize</key>
                <string>{116,142}</string>
            </dict>
            <key>lightingEff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{120,138}</string>
            </dict>
            <key>lightingEff_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{110,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{110,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LightingEff.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:082c932ec1ccaf8a86dbdf1c413c2164:1/1$</string>
            <key>textureFileName</key>
            <string>LightingEff.png</string>
        </dict>
    </dict>
</plist>
