<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlaneDeadExpl_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,678},{33,23}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{33,23}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,284},{47,45}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,66},{47,45}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,183},{153,173}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{153,173}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{153,175}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{153,175}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{157,177}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{157,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,179}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,167}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{165,167}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,175},{169,165}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{171,167}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{171,167}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,362},{173,167}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{173,167}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{173,167}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{173,167}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,513},{163,163}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{163,163}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,85},{59,57}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,61},{59,57}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,346},{163,165}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{163,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,704},{165,165}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,537},{165,165}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,714},{165,165}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{165,165}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{165,165}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,881},{165,135}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{165,135}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,881},{165,137}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{165,137}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,513},{165,131}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{165,131}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,131}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{165,131}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,171},{165,131}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,25},{165,131}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,85},{69,67}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,55},{69,67}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,703},{163,131}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{163,131}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,337},{53,45}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,68},{53,45}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{53,45}}</string>
                <key>offset</key>
                <string>{-45,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,68},{53,45}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,284},{51,43}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,68},{51,43}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{79,81}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{79,81}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,169},{99,113}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,31},{99,113}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,338},{129,133}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{129,133}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{139,143}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{139,143}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,871},{147,151}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{147,151}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>PlaneDeadExpl_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,868},{149,153}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{149,153}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlaneDeadExpl.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5343010bff5d9630f9be5ea19ffa8d8a$</string>
            <key>textureFileName</key>
            <string>PlaneDeadExpl.png</string>
        </dict>
    </dict>
</plist>
