<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplBult_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,488},{153,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{153,150}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,328},{161,150}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,150}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,480},{159,158}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{159,158}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{161,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,158}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,165},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,165},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
            <key>ExplBult_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,162}}</string>
                <key>sourceSize</key>
                <string>{161,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ExplBult_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb11c04b6899474855b73dc5ada0068:1/1$</string>
            <key>textureFileName</key>
            <string>ExplBult_1.png</string>
        </dict>
    </dict>
</plist>
