<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainPl2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{256,231}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{256,231}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{272,229}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{272,229}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,237}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{272,237}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{278,221}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{278,221}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,538},{260,211}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{260,211}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{276,209}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{276,209}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,751},{258,207}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,30},{258,207}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
            <key>MainPl2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,280},{256,209}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,29},{256,209}}</string>
                <key>sourceSize</key>
                <string>{282,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainPl2.png</string>
            <key>size</key>
            <string>{487,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9d5cca3029ea09b74cbb96439c17518:5b24049bde4f9be8a17ce722f76135c6:6b8639a2095afc21861adfec0e47ecfc$</string>
            <key>textureFileName</key>
            <string>MainPl2.png</string>
        </dict>
    </dict>
</plist>
