<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,488},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>plane_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,137},{132,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,188}}</string>
                <key>sourceSize</key>
                <string>{132,188}</string>
            </dict>
            <key>plane_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,351},{152,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,149}}</string>
                <key>sourceSize</key>
                <string>{152,149}</string>
            </dict>
            <key>plane_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,418},{68,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{68,73}</string>
            </dict>
            <key>plane_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{105,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,128}}</string>
                <key>sourceSize</key>
                <string>{105,128}</string>
            </dict>
            <key>plane_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,188},{161,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,172}}</string>
                <key>sourceSize</key>
                <string>{161,172}</string>
            </dict>
            <key>plane_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{238,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{238,165}}</string>
                <key>sourceSize</key>
                <string>{240,165}</string>
            </dict>
            <key>plane_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,271},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>plane_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,285},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>plane_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,314},{128,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>plane_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,375},{126,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{126,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>plane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>plane_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,188},{122,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>plane_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,198}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{298,198}}</string>
                <key>sourceSize</key>
                <string>{300,198}</string>
            </dict>
            <key>plane_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{192,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,184}}</string>
                <key>sourceSize</key>
                <string>{192,184}</string>
            </dict>
            <key>plane_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,413},{124,126}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>plane_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,169},{114,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,183}}</string>
                <key>sourceSize</key>
                <string>{114,183}</string>
            </dict>
            <key>plane_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,438},{118,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,126}}</string>
                <key>sourceSize</key>
                <string>{118,126}</string>
            </dict>
            <key>plane_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,202},{110,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{110,132}</string>
            </dict>
            <key>plane_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{152,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,131}}</string>
                <key>sourceSize</key>
                <string>{156,133}</string>
            </dict>
            <key>plane_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{133,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{133,222}}</string>
                <key>sourceSize</key>
                <string>{133,224}</string>
            </dict>
            <key>plane_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,312},{121,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,116}}</string>
                <key>sourceSize</key>
                <string>{121,116}</string>
            </dict>
            <key>plane_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,375},{88,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,112}</string>
            </dict>
            <key>plane_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,338},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>plane_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,435},{139,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,124}}</string>
                <key>sourceSize</key>
                <string>{139,124}</string>
            </dict>
            <key>plane_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{103,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,120}}</string>
                <key>sourceSize</key>
                <string>{103,120}</string>
            </dict>
            <key>plane_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,271},{102,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,158}}</string>
                <key>sourceSize</key>
                <string>{102,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemyPlane.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33aca26ae81f1df8e14c00425a80da9:e5b8a7d91e41696621597674411c55bd:812f80517dc66569af5c4f8221e86071$</string>
            <key>textureFileName</key>
            <string>enemyPlane.png</string>
        </dict>
    </dict>
</plist>
