<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss1_dart.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,158},{73,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,114}}</string>
                <key>sourceSize</key>
                <string>{73,114}</string>
            </dict>
            <key>boss2_kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{86,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,80}}</string>
                <key>sourceSize</key>
                <string>{86,80}</string>
            </dict>
            <key>boss3_bigDart.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,49},{156,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,160}}</string>
                <key>sourceSize</key>
                <string>{156,160}</string>
            </dict>
            <key>boss3_smallDart.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,207},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>boss4_shuipaoBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,189}}</string>
                <key>sourceSize</key>
                <string>{190,189}</string>
            </dict>
            <key>boss4_shuipaoSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,255},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>jiqiangBoss_ammo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,39},{35,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,124}}</string>
                <key>sourceSize</key>
                <string>{35,124}</string>
            </dict>
            <key>jiqiangBoss_ammo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{35,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,124}}</string>
                <key>sourceSize</key>
                <string>{35,124}</string>
            </dict>
            <key>jiqiangBoss_ammo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{45,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,180}}</string>
                <key>sourceSize</key>
                <string>{45,180}</string>
            </dict>
            <key>jiqiangBoss_ammo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,76},{80,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,151}}</string>
                <key>sourceSize</key>
                <string>{80,151}</string>
            </dict>
            <key>yizhiBoss_ammo.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,193},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BossBullet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ffb65d4c6588eceb15fb675b613221$</string>
            <key>textureFileName</key>
            <string>BossBullet.png</string>
        </dict>
    </dict>
</plist>
