<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>bullet_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,415},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bullet_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,187},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>bullet_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{34,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{34,85}</string>
            </dict>
            <key>bullet_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,331},{52,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{52,78}}</string>
                <key>sourceSize</key>
                <string>{78,88}</string>
            </dict>
            <key>bullet_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,456},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>bullet_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{51,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,139}}</string>
                <key>sourceSize</key>
                <string>{51,139}</string>
            </dict>
            <key>bullet_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,104},{81,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{81,62}}</string>
                <key>sourceSize</key>
                <string>{89,74}</string>
            </dict>
            <key>bullet_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bullet_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,385},{69,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,72}}</string>
                <key>sourceSize</key>
                <string>{71,74}</string>
            </dict>
            <key>bullet_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,339},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{74,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bullet_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,89},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{30,61}}</string>
                <key>sourceSize</key>
                <string>{30,73}</string>
            </dict>
            <key>bullet_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{74,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,152}}</string>
                <key>sourceSize</key>
                <string>{80,152}</string>
            </dict>
            <key>bullet_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,297},{40,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>bullet_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>bullet_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{39,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,120}}</string>
                <key>sourceSize</key>
                <string>{39,120}</string>
            </dict>
            <key>bullet_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,216}}</string>
                <key>sourceSize</key>
                <string>{102,216}</string>
            </dict>
            <key>bullet_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,249},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>bullet_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,249},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EnemyNorBullet.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab679b0396a28a1ea386115559ac85c3$</string>
            <key>textureFileName</key>
            <string>EnemyNorBullet.png</string>
        </dict>
    </dict>
</plist>
