<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,319},{27,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,123}}</string>
                <key>sourceSize</key>
                <string>{29,123}</string>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{62,284}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,284}}</string>
                <key>sourceSize</key>
                <string>{64,284}</string>
            </dict>
            <key>bullet_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,320},{182,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,133}}</string>
                <key>sourceSize</key>
                <string>{182,133}</string>
            </dict>
            <key>bullet_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,444},{95,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,200}}</string>
                <key>sourceSize</key>
                <string>{95,200}</string>
            </dict>
            <key>bullet_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,453}}</string>
                <key>sourceSize</key>
                <string>{138,453}</string>
            </dict>
            <key>bullet_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{111,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,178}}</string>
                <key>sourceSize</key>
                <string>{111,178}</string>
            </dict>
            <key>bullet_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,455},{119,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,228}}</string>
                <key>sourceSize</key>
                <string>{119,228}</string>
            </dict>
            <key>bullet_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,455},{55,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,212}}</string>
                <key>sourceSize</key>
                <string>{57,212}</string>
            </dict>
            <key>bullet_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{65,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,293}}</string>
                <key>sourceSize</key>
                <string>{65,293}</string>
            </dict>
            <key>bullet_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,904},{67,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,102}}</string>
                <key>sourceSize</key>
                <string>{67,102}</string>
            </dict>
            <key>bullet_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,319},{28,122}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,122}}</string>
                <key>sourceSize</key>
                <string>{32,122}</string>
            </dict>
            <key>bullet_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,669},{70,205}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{70,205}}</string>
                <key>sourceSize</key>
                <string>{72,205}</string>
            </dict>
            <key>bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,685},{88,217}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{88,217}}</string>
                <key>sourceSize</key>
                <string>{90,217}</string>
            </dict>
            <key>bullet_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,646},{88,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,156}}</string>
                <key>sourceSize</key>
                <string>{88,156}</string>
            </dict>
            <key>bullet_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,685},{55,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,212}}</string>
                <key>sourceSize</key>
                <string>{57,212}</string>
            </dict>
            <key>bullet_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,646},{47,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,170}}</string>
                <key>sourceSize</key>
                <string>{47,170}</string>
            </dict>
            <key>bullet_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,610},{26,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,65}}</string>
                <key>sourceSize</key>
                <string>{26,65}</string>
            </dict>
            <key>bullet_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,989},{30,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,75}}</string>
                <key>sourceSize</key>
                <string>{30,75}</string>
            </dict>
            <key>bullet_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,309},{8,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,158}}</string>
                <key>sourceSize</key>
                <string>{8,158}</string>
            </dict>
            <key>bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,901},{36,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,120}}</string>
                <key>sourceSize</key>
                <string>{36,120}</string>
            </dict>
            <key>bullet_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,297},{10,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,159}}</string>
                <key>sourceSize</key>
                <string>{10,159}</string>
            </dict>
            <key>bullet_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,555},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,58}}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>bullet_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,401},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>bullet_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,897},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,90}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>bullet_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,804},{34,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,85}}</string>
                <key>sourceSize</key>
                <string>{34,85}</string>
            </dict>
            <key>bullet_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,555},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>bullet_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,401},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>bullet_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,473},{51,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,139}}</string>
                <key>sourceSize</key>
                <string>{51,139}</string>
            </dict>
            <key>bullet_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,818},{81,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,62}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>bullet_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,319},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{96,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,316}}</string>
                <key>sourceSize</key>
                <string>{96,316}</string>
            </dict>
            <key>bullet_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,250},{67,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,72}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>bullet_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,466},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bullet_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,614},{30,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,61}}</string>
                <key>sourceSize</key>
                <string>{30,61}</string>
            </dict>
            <key>bullet_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,319},{74,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,152}}</string>
                <key>sourceSize</key>
                <string>{74,152}</string>
            </dict>
            <key>bullet_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,250},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>bullet_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,250},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>bullet_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,319},{39,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,120}}</string>
                <key>sourceSize</key>
                <string>{39,120}</string>
            </dict>
            <key>bullet_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,904},{100,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,216}}</string>
                <key>sourceSize</key>
                <string>{100,216}</string>
            </dict>
            <key>bullet_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,638},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bullet_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,473},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>bullet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{176,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,447}}</string>
                <key>sourceSize</key>
                <string>{176,447}</string>
            </dict>
            <key>bullet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{149,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,246}}</string>
                <key>sourceSize</key>
                <string>{149,246}</string>
            </dict>
            <key>bullet_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,876},{26,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,89}}</string>
                <key>sourceSize</key>
                <string>{26,89}</string>
            </dict>
            <key>bullet_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,320},{27,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,135}}</string>
                <key>sourceSize</key>
                <string>{27,135}</string>
            </dict>
            <key>bullet_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,804},{25,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,91}}</string>
                <key>sourceSize</key>
                <string>{25,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SelfBullet.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19966e6602f7d646109b1be2d839d333$</string>
            <key>textureFileName</key>
            <string>SelfBullet.png</string>
        </dict>
    </dict>
</plist>
